@import "../../style/theme/variable.scss";
@import "../../spin/style/index.scss";

$zimage-prefix-cls: "#{$nextlc-prefix}-zimage";

.#{$zimage-prefix-cls} {
  &--img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: zoom-in;
    margin-right: 5px;
    &--last{
      margin-right: 0;
    }
  }
  &--mask{
    position: fixed;
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &--content{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    cursor: zoom-out;
    &--img{
      height: 100%;
      cursor: zoom-in;
      margin: auto;
    }
    &--original{
      overflow: auto;
      &--img{
        height: auto;
        cursor: zoom-out;
      }
    }
  }
}
