@import "../../style/theme/default.scss";

$head-prefix-cls: "#{$nextlc-prefix}-head";

.#{$head-prefix-cls} {
  border-bottom: 2px solid #22baa0;
  margin-bottom: 16px;
  overflow: hidden;
  height: 40px;
  &_title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    float: left;
    height: 38px;
    line-height: 36px;
  }
  &_content_left {
    float: left;
    margin-left: 30px;
  }
  &_content_right {
    float: right;
  }
}
